[submodule "vendor/Gumby"]
	path = vendor/Gumby
	url = https://github.com/noopable/Gumby.git
[submodule "vendor/Claymate"]
	path = vendor/Claymate
	url = https://github.com/GumbyFramework/Claymate.git
[submodule "data"]
	path = data
	url = git@github.com:noopable/gumby-demo-data
	ignore = dirty
[submodule "vendor/angular"]
	path = vendor/angular
	url = https://github.com/angular/angular-seed.git
